<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelManager"
        tools:targetApi="31">
        <activity
            android:name=".activitys.SeenImageActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.BookSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.BookingSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.UpdateRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.BookingRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ListCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.OrderRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.UpdateInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.NotifiRoomCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>